.Titul {
    line-height: 32px;
    font-size: 30px;
    text-decoration: none;
    color: #232323;
    font-weight: 500;
    margin-bottom: 15px;
}

.Select {
    margin-bottom: 10px;
}

.docsPreSelect {
    margin-bottom: 10px;
}

.checked {
    display: flex;
    margin-bottom: 10px;
}
.checked_text {
    margin-left: 10px;
}