.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 40%;
}

.modal_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.modal_none {
    display: none;
}

.modal_main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
    border-radius: 4px;
    padding: 20px;
    background-color: white;
}

.admin_input_tab_checked_boolean {
    display: flex;
    /*margin-bottom: 10px;*/
}

.modal_main_ButtonCancel {
    width: 50px;
    height: 50px;
    border: none;
    right: 1px;

}
