.adminCards {
    margin-top: 20vh;
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 1fr 2fr;
    background-color:#e5daef;
    border-radius: 1px ;
    border: solid black 1px;
}

.adminCardsLeft {
    width: 100%;
}

.adminCardsLeftColumn {
    display: flex;
    width: 100%;
    flex-direction: column;
    border:solid black 1px;
    min-height: 50px;
    background-color: cadetblue;
    transition:  500ms ease-in-out;
}
.adminCardsLeftColumnRed{
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    min-height: 50px;
    width: 100%;
    background-color: rgba(0, 255, 213, 0.425);
    transition:  500ms ease-in-out;
}

.adminCardsLeftColumn:hover {
background-color: rgb(6, 88, 94);
}

.adminCardsRight {
    border: solid black 1px;
    height: 60vh;
}

.openMain {
    display: flex;
    height: 100%;
    background: var(--main-bg-color);
}
