.container {
  position: relative;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}



.cardsCats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.cardsCatsPicture {
  position: relative;
  box-shadow: var(--shadow);
  margin: 30px;
  min-height: 452px;
  border-radius: var(--border);
  background:var(--main-bg-color);
  overflow: hidden;
  transition: height 500ms ease-in-out;
}

.cardsCatsPictureMain {
  background: #dffff4;
  position: absolute;
  bottom: -1px;
  left: -1px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 45px;
  right: -1px;
  z-index: 1;
  transition: height 500ms ease-in-out;
  opacity: 0.7;
}

.cardsCatsPicture:hover .cardsCatsPictureMain {
  height:35%;
}


.cardsCatsPictureMainName {
  color: black;
  size: 25px;
  font-size: 25px;
  font-weight: 700;
  font-family: cursive;
  margin: 3px 30px 20px 30px;
}

.cardsCatsPictureMainFamily {
  color: black;
  size: 23px;
  font-size: 25px;
  font-weight: 500;
  font-family: cursive;
  margin: 3px 30px 20px 30px;
}

.cardsCatsPictureMainYears {
  color: black;
  size: 23px;
  font-size: 25px;
  font-weight: 500;
  font-family: cursive;
  margin: 3px 30px 20px 30px;
}

