.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: var(--screen-width);
    margin: var(--margin) auto;
    gap: var(--gap);
}

.contact_Blockleft {
    grid-column-start: 1;
    grid-column-end: 3;
}

.contact_Blockleft__Bold {
    font-size: 30px;
    line-height: 1.2;
    font-family: inherit;
    word-wrap: break-word;
    color: black;
    margin-bottom: 15px;
}

.contact_Blockleft__Registered {
    font-size: 20px;
    line-height: 1.2;
    font-family: inherit;
    word-wrap: break-word;
    color: black;
    margin-bottom: 15px;
}

.contact_Blockleft__Email {
    color: var(--main-bg-color);
    margin-bottom: 15px;
}

.contact_Blockright {

}

.modals {
    display: flex;
    flex-direction: column;
}

.modal_window {
    border: 1px solid #dedede;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    min-width:300px;
}

.modal_window__sms {
    text-align: left;
    border: 1px solid #dedede;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    min-width:300px;
    min-height:300px;
}

.modal_window__button {
    border: 1px solid #dedede;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    min-width:300px;
    width: 100%;
    background: var(--main-bg-color);
}

.modal_window__button:disabled {
    background: var(--main-bg-color-alpha);
    color: white
}
