.container {
    /*padding: 0 2rem;*/
    position: relative;
}
.cardsDocs {
    display: flex;
    flex-wrap: wrap;
}

.cardsDocsInfo:hover {
    background: var(--main-bg-color-alpha)
}

.cardsDocsInfo {
    margin: 30px;
    min-height: 102px;
    width: 100%;
    border-radius: var(--border-standart);
    padding: 50px;
    background:var(--main-bg-color);
    transition: all 300ms ease-in-out;
}

.cardsDocsInfoActive {
    min-height: 500px;
}

.cardsDocsInfoBody {
    display: none;
    flex-direction: column;
    transition: display 3000ms ease-in-out;
}

.cardsDocsInfoBodyActive {
    display: flex;
}
