.container {
    /*padding: 0 2rem;*/
    position: relative;
}
.cardsDocs {
    display: flex;
    flex-wrap: wrap;
}

.cardsDocsInfo:hover {
    background: bisque;
}

.cardsDocsInfo {
    
    margin: 30px;
    min-height: 102px;
    width: 100%;
    border-radius: var(--border-standart);
    padding: 50px;
    background:var(--main-bg-color);
}

.cardsDocsInfoHeight {
    margin: 30px;
    min-height: 300px;
    width: 100%;
    border-radius: var(--border-standart);
    padding: 50px;
    background:var(--main-bg-color);
}