.ex {
    position: relative;
    min-height: auto;
    overflow: hidden;
    transition: all 200ms linear;
    border: none;
    box-shadow: var(--shadow);
    border-radius: var(--border);
}
.ex_noHover {
    position: relative;
    min-height: auto;
    overflow: hidden;
    transition: all 200ms linear;
    border: none;
    box-shadow: var(--shadow);
    border-radius: var(--border);
}
.ex:hover{
    box-shadow: 0 2px 9px 0 rgba(3, 7, 10, 0.8);
}

.ex_block {
    margin: 0;
}

.ex_opacity {
    position: absolute;
    background: #ffffffbb;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6rem;
}

.ex_opacity_DisplayNone{
    display: none;
}

.exhibition_Main {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
    padding: 50px;
    gap: 15px;
}

.exhibition_Main__card {
    box-shadow: var(--shadow);
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 100%;
    min-height: 600px;
}

.exhibition_Main__card:hover {
    box-shadow: 0 2px 9px 0 rgba(3, 7, 10, 0.8);
}

div .cardMargin {
    margin: 0;
}

.exhibition_Main__leftColumn {
    margin: 10px 10px 20px 10px;
    min-height: 400px;
    background-size: cover;
}

.exhibition_Main__rightColumn {
    margin: 10px 10px 20px 10px;
    min-height: 400px;
    background-size: cover;
}

.exhibition_Main__cardTitle {
    font-size: 30px;
    line-height: 1.2;
    font-family: inherit;
    word-wrap: break-word;
    color: black;
    margin-left: 10px;
    margin-bottom: 15px;
}

.exhibition_Main__cardText {
    color: #424242;
    font-size: 16px;
    margin-left: 15px;
}

