/*.exhibition_Maintop {*/
/*    display: flex;*/
/*}*/

.exhibition_Main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    padding: 50px;
    gap: 15px;
}

.exhibition_Main__card {
    box-shadow: 0 2px 9px 0 rgba(3, 7, 10, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 12px;
    width: 100%;
    min-height: 600px;
}
.exhibition_Main__card:hover {
    box-shadow: 0 2px 9px 0 rgba(3, 7, 10, 0.8);
}

.exhibition_Main__leftColumn {
    margin: 10px 10px 20px 10px;
    min-height: 400px;
    background: url("../public/lastEX.jpg");
    background-size: cover;
}

.exhibition_Main__rightColumn {
    margin: 10px 10px 20px 10px;
    min-height: 400px;
    background: url("../public/nolastEX.jpg");
    background-size: cover;
}

.exhibition_Main__cardTitle {
    font-size: 30px;
    line-height: 1.2;
    font-family: inherit;
    word-wrap: break-word;
    color: black;
    margin-left: 10px;
    margin-bottom: 15px;
}

.exhibition_Main__cardText {
    color: #424242;
    margin-left: 10px;
}

