.ex {
    position: relative;
    min-height: auto;
    overflow: hidden;
    transition: all 200ms linear;
    border: none;
    box-shadow: var(--shadow);
    border-radius: var(--border);
}
.ex_noHover {
    position: relative;
    min-height: auto;
    overflow: hidden;
    transition: all 200ms linear;
    border: none;
    box-shadow: var(--shadow);
    border-radius: var(--border);
}
.ex:hover{
    box-shadow: var(--active-shadow);
    transform: scale(1.01);
}

.ex:hover .ex_opacity {
    box-shadow: var(--active-shadow);
    padding: calc(var(--padding-vertical) * 2) 0;
}

.ex_opacity {
    position: absolute;
    background: #ffffffbb;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--padding-vertical) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 200ms linear;
}

.ex_opacity_DisplayNone{
    display: none;
}

div .ex_card {
    margin: 0;
    min-height: var(--block-height);
    background-color: var(--admin-color-icon-white);
}

.ex_title {
    font-size: 30px;
    line-height: 1.2;
    font-family: inherit;
    word-wrap: break-word;
    color: black;
    padding-left: var(--padding-horizontal);
    margin-bottom: var(--padding-vertical);
}

.ex_description {
    color: #424242;
    font-size: 16px;
    padding-left: var(--padding-horizontal);
}

