.footerWrapper {
    background-color: var(--main-bg-color);
    display: flex;
    width: 100vw;
    box-shadow: var(--shadow);
    z-index: 2;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    color: var(--admin-color-icon-white);
    font-size: 24px;
    font-weight: 300;
    margin: 0 auto;
    width: var(--screen-width);
    gap: calc(var(--gap) / 2);
}

.footerColumn {
    margin: var(--margin) 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 calc(var(--padding-horizontal) * 2) ;
}

.startColumn {
    align-items: end;
}

.startColumn .inline {
    justify-content: end;
    flex-direction: row-reverse;
}

.footerTextContainer {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    font-size: 20px;
    padding: var(--padding-vertical) 0;
}

.inline {
    display: flex;
    align-items: center;
}

.footerTextContainer a {
    padding: var(--padding-vertical) var(--padding-horizontal);
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: border-bottom 500ms ease-in-out;
}

.footerTextContainer a:hover {
    border-bottom: 1px solid #f3f3f3;
}

.separator {
    display: flex;
    flex: 1 1 auto;
    margin: var(--margin) 0;
    background-color: var(--admin-color-icon-white);
}

.groupStyles {
    margin-bottom: 10px;
}

@media (min-width: 320px) and (max-width: 840px) {
    .footer {
        grid-template-columns: 1fr;
    }

    .footerDocs,
    .footerNav,
    .separator {
        display: none;
    }
}

