.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 280px;
    background-color: var(--main-bg-color);
    min-width: 100%;
    bottom: 1px;
    box-shadow: 0 2px 9px 0 rgba(3, 7, 10, 0.5);
    color: #f3f3f3;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid transparent;
}

.footerLeft {
    margin: 30px 0 0 30px;
}

.footerCenter {
    margin: 30px 0 0 30px;
}

.footerRight {
    margin: 30px 30px 0 0;
}

.footerText {
    font-size: 20px;
    margin: 0 8px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 500ms ease-in-out;
    list-style-type: none;
}

.footerTextHover {
    border-bottom: 1px solid transparent;
    transition: border-bottom 500ms ease-in-out;
}

.footerTextHover:hover {
    border-bottom: 1px solid #f3f3f3;
}

