:root {
  --main-bg-color: #77aba3;
  --main-bg-color-alpha: #77aba399;
  --border: 12px;
  --shadow: 0 2px 9px 0 rgba(3, 7, 10, 0.5);
  --admin-color-blue: #109CF1;
  --admin-color-yellow: #FFB946;
  --admin-color-red: #F7685B;
  --admin-color-green: #2ED47A;
  --admin-color-purple: #885AF8;
  --admin-color-black: #192A3E;
  --admin-color-table-black: #323C47;
  --admin-color-table-gray: #707683;
  --admin-color-dark-blue: #334D6E;
  --admin-color-gray: #90A0B7;
  --admin-color-icon-gray: #C2CFE0;
  --admin-color-icon-white: #FFFFFF;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  /*padding: 47px 0 0 0;*/
  flex: 1;
  display: flex;
  flex-direction: column;
  /*background: repeat  url("../public/paper.png");*/
  /*background: repeat  url("../public/fabric.png");*/
  /*background: repeat  url("../public/gridius.png");*/
  background: repeat  url("../public/scratone.png");
  /*background: repeat  url("../public/flower.jpg");*/
  /*background: repeat  url("../public/green.png");*/
  /*background: repeat  url("../public/wood.png");*/
}

.flex {
  flex: 1 1 auto;
}
