:root {
  /*--main-bg-color: #26865c;*/
  --main-bg-color: #3ea192;
  /*--main-bg-color: #77aba3;*/
  --main-bg-color-alpha: #77aba399;
  --border: 12px;
  --padding-vertical: 8px;
  --padding-horizontal: 12px;
  --margin: 24px;
  --screen-width: 1200px;
  --gap: 16px;
  --shadow: 0 2px 9px 0 rgba(3, 7, 10, 0.5);
  --active-shadow: 0 2px 9px 0 rgba(3, 7, 10, 0.8);
  --admin-color-blue: #109CF1;
  --admin-color-yellow: #FFB946;
  --admin-color-red: #F7685B;
  --admin-color-green: #2ED47A;
  --admin-color-purple: #885AF8;
  --admin-color-black: #192A3E;
  --admin-color-table-black: #323C47;
  --admin-color-table-gray: #707683;
  --admin-color-dark-blue: #334D6E;
  --admin-color-gray: #90A0B7;
  --admin-color-icon-gray: #C2CFE0;
  --admin-color-icon-white: #FFFFFF;
  --font: "Georgia", serif;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font);
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font);
}

div,
span {
  font-family: var(--font);
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  /*padding: 47px 0 0 0;*/
  flex: 1;
  display: flex;
  flex-direction: column;
  /*background: repeat  url("../public/paper.png");*/
  /*background: repeat  url("../public/fabric.png");*/
  /*background: repeat  url("../public/gridius.png");*/
  background: repeat  url("../public/scratone.png");
  /*background: repeat  url("../public/flower.jpg");*/
  /*background: repeat  url("../public/green.png");*/
  /*background: repeat  url("../public/wood.png");*/
}

.flex {
  flex: 1 1 auto;
}

.overlay {
  display: flex;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.auth {
  background-color: var(--admin-color-icon-white);
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.centered {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1 1 auto;
}

.stretch {
  width: 100%;
}

.slick-slider {
  display: flex !important;
  flex-direction: column;
  box-shadow: var(--shadow);
  height: 400px;
}

.slick-slider .slick-dots {
  position: absolute;
  display: flex !important;
  align-self: center;
  /*left: 0;*/
  /*right: 0;*/
  bottom: var(--padding-vertical);
  width: auto;
  margin: 0 auto;
  padding-top: 2px;
  border-radius: var(--border);
  background-color: var(--main-bg-color-alpha);
}
