.header {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    padding: 8px;
    background-color: var(--main-bg-color);
    margin-bottom: 55px;
    box-shadow: var(--shadow);
}

.headerLeft {
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    flex-wrap: wrap;

}

.headerRight {
    display: flex;
    flex-direction: row;
    margin-right: 200px;
}

.headerText {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    color: #f3f3f3;
    font-size: 20px;
    font-weight: 300;
    margin: 0 8px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 500ms ease-in-out;
}

.headerTextActive {
    border-bottom: 1px solid #f3f3f3;
}

.headerText:hover {
    border-bottom: 1px solid #f3f3f3;
}
