.container {
  position: relative;
}

.titleList {
  width: 100%;
  box-shadow: var(--shadow);
  background:var(--main-bg-color);
  min-height: 410px;
  max-height: 500px;
  margin-bottom: 55px;
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  width: var(--screen-width);
  font-size: 30px;
  margin: calc(var(--margin) * 2) auto var(--margin);
  text-align: center;
}

.infoOver {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: var(--screen-width);
  margin: var(--margin) auto;
  font-family: sans-serif;
  line-height: 23px;
  gap: var(--gap);
}

.column {
  padding: calc(var(--padding-vertical) * 2) calc(var(--padding-horizontal) * 2);
  background: var(--main-bg-color);
  border-radius: var(--border);
  box-shadow: var(--shadow);
}

.leftColumnText {
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
}

.rightColumnText {
  color: white;
}

.wrapper {
  display: grid;
  margin: 0 auto var(--margin);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 240px);
  grid-template-areas: "a b c"
                       "a b d";
  width: var(--screen-width);
  gap: var(--gap);
}

/*.wrapper > div {*/
/*  box-shadow: var(--shadow);*/
/*  border-radius: var(--border);*/
/*  overflow: hidden;*/
/*  position: relative;*/
/*}*/

/*.wrapper > div img {*/
/*  transition: all ease-in-out 0.7s;*/
/*}*/

/*.wrapper > div:hover img {*/
/*  transform: scale(1.1) translateX(-4%) translateY(4%);*/
/*}*/

.wrapper > div:first-child {
  grid-area: a;
}

.wrapper > div:nth-child(2) {
  grid-area: b;
}

.wrapper > div:nth-child(3) {
  grid-area: c;
}

.wrapper > div:nth-child(4) {
  grid-area: d;
}

/*.card {*/
/*  position: absolute;*/
/*  height: 77px;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 40px;*/
/*  background: white;*/
/*  opacity: 0.75;*/
/*  line-height: 2rem;*/
/*  font-size: 35px;*/
/*  padding: 10px 20px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  transition: all ease-in-out 0.5s;*/
/*}*/

/*.card span {*/
/*  width: 100%;*/
/*  text-align: left;*/
/*  color: #424242;*/
/*  transition: all ease-in-out 0.5s;*/
/*}*/

/*div:hover > .card span {*/
/*  bottom: 0;*/
/*  color: #424242;*/
/*  transform: scale(1.3) translateX(20%);*/
/*}*/

/*div:hover > .card {*/
/*  opacity: 1;*/
/*}*/

.art {
  object-fit: cover;
}

.faqWrapper {
  width: var(--screen-width);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto calc(var(--margin) * 2);
  gap: var(--gap);
}


@media (min-width: 320px) and (max-width: 840px) {
  .wrapper {
    grid-template-areas:
    "a"
    "b"
    "c"
    "d";
  }
  .faqWrapper {
    grid-template-columns: 1fr;
  }
}
