.wrapperDown {
    background: var(--main-bg-color);
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--padding-vertical) 0;
}

.wrapperDownMain {
    margin: var(--margin) 0;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 25px;
    font-family: sans-serif;
    color: var(--admin-color-icon-white)
}


.wrapperDownMainIntro {
    display: grid;
    width: var(--screen-width);
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    justify-content: center;
    align-items: center;
}

.wrapperDownBlock {
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    margin-bottom: 20px;
    padding: 16px;
}

.imageBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
}

.wrapperDownBlockText {
    padding-left: 10px;
    color: var(--admin-color-icon-white);
    font-size: larger;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.wrapperDownBlockTextTitle {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
}

@media (min-width: 320px) and (max-width: 840px) {

    .wrapperDownMainIntro {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
}
