.nearhibition_blocktextone {
    display: flex;
    flex-direction: column;
}

.nearhibitiontextone {
    display: flex;
    font-size: 30px;
    line-height: 1.2;
    font-family: inherit;
    word-wrap: break-word;
    color: black;
    margin-bottom: 15px;
    margin-left:50px;
}
.nearhibitiontexttwo {
    display: flex;
    font-size: 25px;
    line-height: 1.2;
    font-family: inherit;
    word-wrap: break-word;
    color: black;
    margin-bottom: 15px;
    margin-left:50px;
    font-weight: 200;
}
.nearhibitiontextthree {
    display: flex;
    font-size: 28px;
    line-height: 1.2;
    font-family: inherit;
    word-wrap: break-word;
    color: black;
    margin-bottom: 15px;
    margin-left:50px;
}

.nearhibitiontextfour {
    display: flex;
    font-size: 28px;
    line-height: 1.2;
    font-family: inherit;
    word-wrap: break-word;
    color: black;
    margin-bottom: 15px;
    margin-left:50px;
    font-weight: 200;
}


.nearlasthibition_title {
    display: flex;
    font-size: 30px;
    line-height: 1.2;
    font-family: inherit;
    word-wrap: break-word;
    color: black;
    margin-bottom: 15px;
    margin-left:100px;
}

.nearlasthibition_header {
    display: flex;
    flex-direction: row;
}

.nearexhibition_Main__card {
    box-shadow: var(--shadow);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: var(--border);
    width: 100%;
    min-height: 600px;
}
.nearexhibition_Main__card:hover {
    box-shadow: 0 2px 9px 0 rgba(3, 7, 10, 0.8);
}

.nearexhibition_Main__src {
    margin: 10px 10px 20px 10px;
    min-height: 400px;
    background-size: cover;
}

.nearexhibition_Main {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
    padding: 50px;
    gap: 15px;
}
