.partners_Main {
    margin: 5% 15%;
}

.partners_logo {
    display: flex;
    flex-direction: row;
}

.partners_logos {
    width: 40%;
}

.partners_logotype {
    height: 200px;
    width: 200px;
}

.partners_padding {
    padding: 10px;
}

.partners_info {
    margin-bottom: 15px;
}

.partners_info_Main {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
    padding: 50px;
    gap: 15px;
}


.nurseries_Main__src {
    margin: 10px 10px 20px 10px;
    min-height: 400px;
    background-size: auto;
}