.type {
    position: relative;
}

.slide {
    height: 400px;
    width: 100%;
    position: relative;
}

.slide img {
    transition: all ease-in-out 0.5s;
}

.slide:hover img {
    transform: scale(1.1) translateX(4%) translateY(4%);
}

.buttonWrapper {
    position: absolute;
    bottom: 10%;
    height: 70px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.buttonWrapper > .buttonWrapperBackground {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    opacity: 0.75;
    transition: all ease-in-out 0.5s;
    z-index: 1;
}

.buttonWrapper .buttonContainer {
    pointer-events: none;
    background-color: transparent;
    font-size: 30px;
    color: #424242;
    transition: all ease-in-out 0.5s;
    position: relative;
    left: 50%;
    z-index: 2;
}

.slide:hover .buttonWrapperBackground {
    opacity: 1;
}

.slide:hover .buttonContainer {
    transform: scale(1.3) translateX(20%);
    color: var(--admin-color-black);
}
